a.tag--category.tag--person {
    display: flex!important;
    gap: 5px;
    align-items: center;
    text-transform: none;
}

a.tag--category.tag--person svg {
    fill: #500000;
    height: 20px;
    width: 20px;
}

@media (max-width: 576px) {
    .flex-sm-column-reverse {
        flex-direction: column-reverse!important;
    }

    .sm-pt {
        padding-top: 24px;
    }
}