.codhr-logo-horizontal {
    max-height: 150px;
    width: auto;
}

.codhr-logo-vertical {
    max-height: 175px;
    width: auto;
}

a.tag--category.tag--person {
    display: flex!important;
    gap: 5px;
    align-items: center;
    text-transform: none;
}

a.tag--category.tag--person svg {
    fill: #500000;
    height: 20px;
    width: 20px;
}

.mobile-toggle, .mobile-toggle__menu { cursor: pointer; }

@media (max-width: 992px) {
    .flex-sm-column-reverse {
        flex-direction: column-reverse!important;
    }

    .sm-pt {
        padding-top: 24px;
    }

    .mobile-width-100 {
        width: 100%!important;
    }

    .mobile-text-center {
        text-align: center;
    }

    .mobile-margins-auto {
        margin: 0 auto;
    }
}

@media (min-width: 993px) {
    .hero .hero__image img {
        width: 100%;
        object-fit: cover;
        z-index: -999;
        max-height: 400px;
    }

    .hero .hero__image {
        aspect-ratio: unset;
        height: auto;
    }

    .program-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* or: repeat(2, 1fr) */
        gap: 16px; /* optional spacing between cells */
        max-width: 1400px;
        margin: 0 auto 20px auto;
    }

    .card--program {
        margin-bottom: unset;
    }
}